html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

body>section {
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* -------------------------------------- Generalized ------------------------------------ */
:root {
    font-family: 'Ubuntu', sans-serif;
    --global-bg-color: #121B23;
    --primary-text-color: #FFFFFF;
    --primary-color: #228F7D;
    --off-white: #f4f4f4;
    --primary-font-family: 'Ubuntu', sans-serif;
}



body {
    background-color: var(--global-bg-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}



h2 {
    font-family: var(--primary-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;

    color: var(--primary-text-color);
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 4px;
    text-underline-offset: 9px;
}


p {
    color: var(--primary-text-color);
}



section .container {
    max-width: 1440px;
    width: 100%;
}

body.landing-page{
    /* overflow-y: scroll;
    overflow-x: hidden; */
 
    scroll-snap-type: y mandatory;

}
.sections{
    scroll-snap-align: center;
    background-color: var(--global-bg-color);
    
}

/*----------------------------- About Us Section----------------------------- */

.about-us-article .nugget {
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
}

.about-us-article .nugget {
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 20px;
}

.about-us-article .simple-para {
    font-weight: 400;
    line-height: 33px;
}

.about-us-article .nugget span {
    color: var(--primary-color);
}

.about-us-section {
    padding-block: 185px 149px;
    background-image: url(images/about-us-bottom.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: var(--global-bg-color);
}

.about-us-section .left-img {
    object-fit: cover;


}

.left-img>img {
    width: 100%;
}

.about-us-section .col-6 {
    max-width: 713px;
    width: 100%;
}

.about-us-section h2 {
    /* margin-bottom: 75px; */
    text-decoration: none;
}

.fake-underline {
    transform: translateY(-11px);
    margin-bottom: 75px;

}

.about-us-section .container .row {
    gap: 50px;
}

.hero-section .link {
    margin-top: 0%;
}

:is(.about-us-article, .hero-section) .link {
    padding: 19px 25px;
    height: 62px;
    width: 170px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;



    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    transition: background-color 1s ease-in;
    transform-origin: center;
    position: relative;


}

.about-us-article .link {
    margin-top: 75px;
}

:is(.about-us-article, .hero-section) .link::before {
    content: "";
    position: absolute;
    padding: 0%;
    margin: 0%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: var(--primary-color);
    transition: width 0.3s, height 0.3s;
    pointer-events: none;
    z-index: -1;
}

:is(.about-us-article, .hero-section) .link:hover::before {
    width: calc(100% + 4px);
    height: 100%;
    border-radius: 10px;
    border-color: transparent;
}


/* Menu -- Overlay */


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: -100vh;
    background-color: #121B23;

    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */


}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */

    font-family: var(--primary-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    /* text-align: left; */
    text-transform: capitalize;

}
.overlay-content>a.active{
color: var(--primary-color);
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn svg {
    pointer-events: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



.nav-first-svg {
    background-image: url(nav-top-svg.svg);
    background-size: cover;
    min-height: 235px;
    height: auto;
}

.nav-second-svg {
    background-image: url(nav-bottom-svg.svg);
    background-size: cover;
    min-height: 251px;
    height: auto;
}






/*------------------------------ Professional Services--------------------------------- */

.professional-services-section {
    padding-block: 135px 113px;
    background-color: var(--global-bg-color);
}

.professional-services-section h2 {
    margin-block: 0 144px;
    text-align: center;
}

.services-cards {
    gap: 20px;
    margin-inline: auto;
    max-width: 1116px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


.service-card {
    padding: 81px 20px 39px;
    width: 264px;
    /* border: 2px solid white; */
    border-style: dashed;
    border-radius: 8px;
    position: relative;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}

/* .service-card:hover{
    transform: rotate(5deg);
} */

.service-card::before {


    content: '';
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-style: dashed;
    border-radius: 8px;
    position: relative;
    display: block;
    padding: 81px 20px 39px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.service-card:hover::before {
    content: '';
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-style: dashed;
    border-radius: 8px;
    position: relative;
    display: block;
    padding: 81px 20px 39px;
    position: absolute;
    top: 0px;
    left: 0px;

    /* opacity: 1; */
    transform: rotate(3deg);

}



.service-card::after {


    content: '';
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-style: dashed;
    border-radius: 8px;
    position: relative;
    display: block;
    padding: 81px 20px 39px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.service-card:hover::after {
    content: '';
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-style: dashed;
    border-radius: 8px;
    position: relative;
    display: block;
    padding: 81px 20px 39px;
    position: absolute;
    top: 0px;
    left: 0px;

    opacity: 1;
    transform: rotate(-3deg);

}

.service-card .card {
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;

}

.service-card img {
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: 2;
}

.service-card h3 {
    font-family: var(--primary-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--off-white);

}

.service-card p {
    font-family: var(--primary-font-family);

    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--off-white)
}

.card .card-text {
    height: 138px;
}


/* ------------------------------Why Choose Us--------------------- */

.why-choose-us .left {
    display: flex;
    flex-direction: column;
    height: 1027px;
    justify-content: center;
    align-items: center;
}

.why-card {
    max-width: 340px;
    width: 100%;
    text-align: center;
}

.why-card img {
    margin-bottom: 40px;
    margin-inline: auto;
}

.why-card .card-text {
    max-width: 286px;
    width: 100%;
    text-align: center;
    margin-inline: auto;
}

.why-card h3 {
    font-family: var(--primary-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 17.7px;
    color: var(--off-white);

}

.left .why-card {
    margin-bottom: 182px;
}

.right .why-card {
    margin-bottom: 111px;
}

.why-choose-us h2 {
    margin-bottom: 115px;
}

.separation {
    margin-inline: 20px 30px;
}

.why-choose-us {
    max-width: 1116px;
    width: 100%;
    margin-inline: auto;
    padding-block: 135px 151px;
    background-color: var(--global-bg-color);
}

/*---------------------------------- Footer------------------------------ */

footer {
    text-align: center;
}

.footer-nav {
    gap: 41.6px;
    margin-top: 24px;
}

.footer-nav ul {
    list-style: none;
    padding: 0%;

    gap: 40px;

}

.footer-nav-links a {
    text-decoration: none;
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}

.footer-nav-links a.active {
    color: var(--primary-color);
}

.footer-nav .social-links {
    gap: 20px;
    justify-content: center;
}

.footer {
    padding-block: 59px 42px;
    border-top: 5px solid var(--primary-color);
}

/* Header */
.header-nav {
    border-bottom: 5px solid var(--primary-color);
    /* z-index: 1; */
    position: relative;

}

.header-navbar {
    padding-block: 10px;

}

.header-navbar .social-links {
    display: flex;
}

.header-nav .header-navbar {

    max-width: 1100px;
    width: 100%;
    justify-content: space-between;
    margin-inline: auto;

}

.header-navbar .social-links {
    gap: 20px;
}

.nav-toggle-btn {
    all: unset;
}

.nav-toggle-btn {

    /* padding: 16px; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    max-width: 70px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    transform: height, width;
}

.nav-toggle-btn:hover {
    animation: 1000ms pulsing ease forwards;
}

@keyframes pulsing {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {

        transform: scale(0.8);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.our-partners {
    padding-block: 147px 193px;
    padding-inline: 80px;
    background-color: var(--global-bg-color);
    overflow-y: hidden;
}

.our-partners h2 {
    margin-bottom: 165px;
}

.partners-slider {
    max-width: 789px;
    width: 100%;
    height: 381px;
    overflow-x: hidden;
}

.partners-intro {
    background: rgba(3, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    max-width: 744px;
    height: 233px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* left: -250px; */

    top: 73%;
    left: 42%;

    position: absolute;
}

.partners-intro div>img{
  margin-inline: auto;
  width: 100%;
  padding: 3rem 2rem;
}
/* .slick-prev::before{
    content: url(images/arrow-prev.png);
}
.slick-next::before{
    content: url(images/arrow-next.png);
} */

.slick-prev{
    position: absolute;
    top: 44.2%;
    z-index: 2;
}

.slick-next{
    position: absolute;
    top: 44.2%;
    right: 0px;
    z-index: 2;
}

.slick-arrow{
    background-color: #000000;
    height: 52px;
    width: 52px;
    outline: unset;
    border: unset;
}
.slick-arrow:hover{
    background-color: var(--primary-color);
}
.hero-section {
    height: calc(100vh - 97px);
    max-height: calc(100vh - 97px);
    overflow-y: hidden;
}

.hero-welcome {
    writing-mode: vertical-rl;
    text-decoration: none;
    font-family: var(--primary-font-family);
    font-size: 95px;
    font-weight: 700;
    line-height: 109px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.3;

    /* Being Commented for this commit */
    /* transform: translateY(-40rem); */
    will-change: transform;
    transition: transform 1s ease-out;
    z-index: -1;
}

.hero-main-txt {
    font-family: var(--primary-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;

    color: #FFFFFF;


}

.hero-wrapper>.hero-text-section {
    max-width: 827px;

    width: 100%;
}

.hero-main-txt__animated {
    width: 100%;
    transform: scale(1);
}

.trevanta-hero-logo {
    display: block;
    margin-inline: auto;
    visibility: hidden;
}

.v-trevanta {
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 8px 20px 12px 18px;
    background-color: var(--primary-color);
    font-family: var(--primary-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-block: 8px 32px;

    justify-content: center;

    gap: 1rem;

}

.hero-wrapper {

    display: flex;

    width: 100%;

    max-width: 1050px;
}


.hero-section {
    width: 100%;
    /* height: 792px; */

}


/* Hero Video Setup */

.video-background {
    /* Used to position the video and content */
    position: relative;
    height: 100%;


}

.video-background__inner {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Hide the scrollbar */
    overflow: hidden;
}

.video-background__video {
    object-fit: cover;

    /* Take full width */
    height: 100%;
    max-width: 100vw;
    width: 100%;
    opacity: 0.3;

}

.video-background__content {
    /* Positioned at the top left corner */
    left: 0px;
    position: absolute;
    top: 0px;

    /* Take full size */
    height: 100%;
    width: 100%;

    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}






.underline {
    position: absolute;
    height: 2px;
    background-color: blue;
    width: 0;
    transform-origin: left center;
}


/* ******************************************************** */
/* smaller, dark, rounded square */
.flickity-prev-next-button {
    width: 52px;
    height: 52px;
    border-radius: 5px;
    background: #000000;

}

.flickity-prev-next-button:hover {
    background: var(--primary-color)
}

/* arrow color */
.flickity-prev-next-button .arrow {
    fill: white;
}

.flickity-prev-next-button.no-svg {
    color: white;
}

/* position outside */
.flickity-prev-next-button.previous {
    left: 0;
    position: absolute;
    top: calc(50% - 26px);
}

.flickity-prev-next-button.next {
    right: 0;
    position: absolute;
    top: calc(50% - 26px);
}


/* ***************************************** */


* {
    --sb-track-color: #232E33;
    --sb-thumb-color: #6BAF8D;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

*::-webkit-scrollbar {
    width: var(--sb-size)
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}

/* Zoom in */
body {
    position: relative;
}

.trevanta-overlay {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    font: 700 12px system-ui;
    background-color: var(--primary-color);

    font-family: var(--primary-font-family);
    font-size: 120px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.025em;

    z-index: 9;

}

/* .trevanta-overlay h1 {
   
  
  

} */


.disabled {
    overflow-y: hidden;
}


/* ************************************************************************************************ */
/* About us Page */

.about-us-hero {}

.about-us-hero h1 {
    /* padding-block: 210px 67px; */
    padding-block: 3rem 2rem;

    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: 60px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: center;
}

.about-us-hero p {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 1100px;
    margin-inline: auto;
}

.about-us-hero .first-para {
    padding-inline: 2rem;
}


.about-us-projects {
    padding: 235px 76px 94px 95px;
    background-image: url(images/eco-portal.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.projects-by-trevanta {
    justify-content: space-between;
    
}

.project-desc{
margin-right: 1.5rem;
}

.project-desc h3 {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 36px;
}

.projects-by-trevanta .project-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 326px;
    width: 100%;
}

.project-social-links {
    display: flex;
    justify-content: space-between;
    max-width: 210px;
    width: 100%;

}

.about-ceo-msg {
    padding: 192px 118px 304px 135px;
    background-image: url(images/about-us-bottom.png);
    background-position: right bottom;
    background-size: auto;
    background-repeat: no-repeat;
}


.marquee-container {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee-content {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 10s linear infinite alternate;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.ceo-msg-cnt {
    padding-left: 4rem;
}

.ceo-msg-cnt .about-txt {
    font-family: var(--primary-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

    margin-block: 75px 60px;


}

.ceo-msg-cnt .name-designation .name {
    font-family: var(--primary-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-color);

}

.ceo-msg-cnt .name-designation .designation {
    font-family: var(--primary-font-family);
    font-size: 30px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--primary-text-color);

}

.ceo-img-wrapper {
    position: relative;
    display: block;
}

.ceo-img-wrapper::before {
    content: '';
    height: 485px;
    width: 299px;
    border: 3px solid var(--primary-color);
    position: absolute;
    left: -42px;
    top: -29px;
    z-index: -1;

}


.about-us-desc p{
    padding-block: 4rem 2rem;
    text-align: justify;
    font-size: 28px;
    max-width: 1050px;
    margin-inline: auto;
    line-height: 2rem;
    overflow-y: hidden;

}
.about-us-desc :is(p,div)::-webkit-scrollbar{
    display: none;
}
/* Media Queries */

@media screen and (max-width:1350px) {
    .partners-intro {
        max-width: 600px;
    }

    .about-us-section .col-6 {
        padding-left: 2rem;
    }
}

@media screen and (max-width:1250px) {
    .partners-slider {
        max-width: 700px;
    }


}

@media screen and (max-width:1200px) {
    .about-us-section {
        padding-block: 0px;
    }

    /* .about-us-section>.container>.row>.col-4{
        width: 20%;
    } */

    .header-navbar {
        padding-bottom: 10px;
    }

    .about-us-section>.container>.row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about-us-section .col-6 {
        padding-left: unset;
        text-align: center;
    }

    .services-cards {
        justify-content: space-evenly;
    }

    .services-cards .service-card {
        /* flex-basis: 20%; */
        margin-right: 2%;
        margin-bottom: 50px;
    }

    .why-choose-us {
        padding-inline: 2rem;
    }

    .partners-article-wrapper .partners-intro {
        position: static;
    }

    .partners-article-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }

    .about-us-section .left-img {
        transform: translateX(-5%);
    }

    .hero-wrapper {
        max-width: 90vw;
    }

    .hero-main-txt {
        font-size: 2.7rem;
    }


    /* About us */
    .about-us-projects {
        padding: 8rem 3rem 6rem;
    }

    .about-ceo-msg {
        padding: 192px 60px 304px 60px
    }
}

@media screen and (max-width:992px) {

    .v-trevanta {
        line-height: 16px;
    }

    .hero-welcome {
        font-size: 70px;
    }

    .why-card img {
        margin-bottom: 0px;
    }

    .why-card h3 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .separation img {
        max-width: 150px;
        width: 100%;
    }

    .why-choose-us {
        padding-block: 0px;
    }

    .our-partners {
        padding-block: 0px 5rem;
    }

    .professional-services-section h2 {
        margin-bottom: 5rem;
    }

    .fake-underline {
        margin-bottom: 50px;
    }

    h2 {
        font-size: 35px;
    }

    .our-partners h2 {

        margin-bottom: 90px;
    }

    .separation {
        margin-inline: 10px 20px;
        height: 90%;
    }

    .partners-slider {
        max-height: 300px;

    }

    .partners-slider .carousel-cell {
        height: 300px;

    }


    /* About US */

    .projects-by-trevanta {
        justify-content: space-around;
        align-items: center;
    }


    .about-ceo-msg {
        padding: 8rem 3rem 5rem 3rem;
    }

    .about-ceo-msg .row {
        flex-direction: column;
    }

    .about-ceo-msg .row .col-4 {
        width: 100%;
    }

    .about-ceo-msg .row .col-8 {
        width: 100%;
    }

    .about-ceo-msg .row :is(.col-8, .col-8) {
        text-align: center;
        margin-top: 4rem;
    }

    .ceo-msg-cnt .about-txt {
        margin-block: 40px 30px;
    }

    .ceo-img-wrapper {
        display: flex;
        justify-content: center;
        position: static;
    }

    .ceo-img-wrapper>img {
        margin-inline: auto;
        position: relative;
    }

    .ceo-img-wrapper::before {
        left: calc(32% - 42px);
    }
}

@media screen and (max-width:767px) {
    .hero-welcome {
        font-size: 3rem
    }

    .slick-arrow{
        background-color: #000000;
        height: 35px;
        width: 35px;
    }

    .v-trevanta {
        padding: 8px 12px 12px 12px;
    }

    .hero-main-txt {
        font-size: 2rem;
        line-height: 2rem;
    }

    .header-navbar .social-links {
        display: none;
    }

    .header-nav .navbar-logo {
        margin-right: auto;
    }

    .about-us-article {
        padding-inline: 1rem;
    }

    .nav-toggle-btn {
        scale: 0.7;
    }

    .partners-intro {
        height: unset;
    }

    .partners-intro>img {
        width: 100%;
        padding: 3rem 2rem;
    }

    .our-partners {
        padding-inline: 30px;
    }

    .about-us-section .left-img {
        width: 50%;
    }

    .separation img {
        display: none;
    }

    .footer-nav ul {
        gap: 15px;
        flex-wrap: wrap;
    }


    .projects-by-trevanta {
        justify-content: space-around;
    }

    .why-choose-us .sub-section {
        flex-direction: column;
    }

    .why-choose-us .left {
        height: auto;
    }

    .why-choose-us .right {
        margin-inline: auto;
    }

    .left .why-card {
        margin-bottom: 4rem;
    }

    .fake-underline>img {
        width: 40%;
    }

    .why-choose-us h2 {
        margin-bottom: 3rem;
    }

    .ceo-msg-cnt {
        padding-left: 0px;
    }

    .ceo-img-wrapper>img {
        max-width: 323px;
    }


}


@media screen and (max-width:440px) {


    .about-us-desc p{font-size: 20px;line-height: 1.8rem;}

    .name-designation .name{
        font-size: 22px;
    }
    .name-designation .designation{
        font-size: 24px;
    }


    .about-us-hero h1{
        font-size: 40px;
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
    }

    .hero-welcome {
        writing-mode: unset;
    }

    .v-trevanta {
        writing-mode: unset;
        display: block;
        padding: 8px 12px;
    }

    .hero-welcome {
        line-height: 60px;
    }

    .hero-wrapper {
        height: auto;
        /* margin-block:    80px 150px ; */
        margin-block: 0px;
    }

    .hero-text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .hero-text-section>img {
        height: 150px;
        margin-bottom: 1rem;
    }

    .video-background__content {
        justify-content: unset;
        padding-top: 5rem;
    }

    .nav-toggle-btn {
        scale: 0.5;
    }

    .header-navbar {
        padding-block: 10px;
        height: 60px;
    }

    .partners-intro>img {
        padding: 2rem 1.5rem;
    }

    .partners-slider {
        max-height: 200px;
    }

    .partners-slider .carousel-cell {
        height: 200px;
    }

    .flickity-prev-next-button.next,
    .flickity-prev-next-button.previous {
        scale: 0.7;
    }

    .our-partners h2 {
        margin-bottom: 60px;
    }


    .why-card h3 {
        font-size: 20px;
        line-height: 1.3rem;
        margin-bottom: 12px;
    }

    .professional-services-section h2 {
        font-size: 25px;
    }

    .trevanta-overlay {
        font-size: 3rem;
    }

    :is(.about-us-article, .hero-section) .link {
        padding: 14px 20px;
        height: 56px;
        font-size: 18px;
    }

    .why-choose-us h2 {
        margin-bottom: 2rem;
    }

    .ceo-img-wrapper::before {
        max-width: 299px;
        width: 100%;
        left: calc(0% - 42px);
    }

    .about-us-hero p {
        font-size: 20px;
    }
}

@media screen and (max-width:390px) {
    .ceo-img-wrapper::before {
        display: none;
    }

    .ceo-img-wrapper>img {
        width: 100%;
    }

}








/* ************************************************************************************************ */
  /* Blogs Page */
  .blogs {
    padding-block: 20px;
    padding-inline: 170px;
}

.blogs__heading {
    text-align: center;
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 60px;
    margin-bottom: 40px;
}

.blogs__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(353px, auto));
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
    place-items: center;
}

.blog__card {
    width: 353px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.25);
    padding-bottom: 10px;
    overflow: hidden;
}

.blog__card__img {
    width: 100%;
    height: 193px;
    transition: all 3s;
}
.blog__card:hover .blog__card__img {
    transform: scale(1.2);
}
.blog__card__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    padding: 10px 15px;
}

.content__card__title {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 23px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__card__sub-title {
    font-size: 14px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__card__btn, .content__card__btn:hover, .content__card__btn:active {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}

@media (max-width: 650px) {
    .blogs {
        padding-block: 20px;
        padding-inline: 20px;
    }
}

/* ************************************************************************************************ */
  /* Single Blog Page */
.single-blog {
    padding-block: 25px;
    padding-inline: 170px;
}

.single-blog__heading {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-text-color);
    margin-bottom: 74px;
}

.single-blog__img {
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 361px;
    flex-shrink: 0;
    margin-bottom: 20px;
    object-fit: cover;
}

.single-blog__content {
    color: var(--primary-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
}

.divider-first {
    display: block;
    margin-bottom: 6px;
}

.divider {
    display: block;
    margin-bottom: 20px;
}

@media (max-width: 1200px) {
    .single-blog {
        padding-inline: 70px;
    }
}
@media (max-width: 600px) {
    .single-blog {
        padding-inline: 20px;
    }
}

/* ************************************************************************************************ */
/* Services Page */


.services__hero {
    width: 100%;
    height: 543px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("./images/services-bg.gif");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 20px;
}

.services__hero__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.services__hero__content>h1 {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.services__hero__content>p {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
}

.services__list,
.service__list-item,
.service__list-item__content {
    display: flex;
    flex-direction: column;
}

.services__list {
    gap: 40px;
    width: 100%;
    padding-block: 25px;
    padding-inline: 170px;
}

.service__list-item {
    gap: 20px;
}

.service__list-item__header {
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(-7.5rem);
}

.service__list-item__header>img {}

.service__list-item__header>h2 {
    color: var(--primary-text-color);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-bottom: 60px;
}

.service__list-item__content {
    gap: 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: -50px;
}

.service__list-item__content__desc {
    color: #E3E6F1;
}

.service__list-item__content__title {}



@media (max-width: 1200px) {
    .services__list {
        padding-inline: 70px;
    }
}

@media (max-width: 900px) {
    .service__list-item__header {
        flex-direction: column;
        transform: unset;
    }
   

    .service__list-item__header>h2 {
        margin-top: -75px;
    }
}

@media (max-width: 600px) {
    .services__list {
        padding-inline: 20px;
    }
}


/* ************************************************************************************************ */
  /* Single Blog Page */

  .careers-hero {
    background: url("./images/career-bg.png");
    width: 100vw;
    height: 390px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .career-hero-content {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-text-color);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
  }
  .career-hero-content > p {
    font-size: 28px;
    font-weight: 400;
    margin-top: 20px;
    width: 100%
  }
  .careers {
    padding-block: 20px;
    padding-inline: 170px;
    color: var(--primary-text-color);
  }
  .career__heading {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    margin-bottom: 20px;
  }
  .form__row {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  .row__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .form__row > button {
    padding: 14px 32px; 
    border-radius: 8px;
    background: var(--primary-color);
    color: var(--primary-text-color);
    border: none;
    font-size: 18px;
  }
  .val-error, .fname, .lname, .mail, .phone, .pos {
    color: red;
    font-size: 12px;
    opacity: 0;
  }
  .row__item > label {
    font-size: 18px;
  }

  .hidden {
    display: none;
  }

  .file-input {
    width: 50%;
    border-radius: 8px;
    border: 1px solid #E1F2EC;
    background-color: transparent;
    padding: 14px 220px 14px 20px;
    font-size: 18px;
    color: var(--primary-text-color);
    height: 70px;
    display: flex;
    align-items: center;
  }

  .row__item > input, textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E1F2EC;
    background-color: var(--global-bg-color);
    padding: 14px 220px 14px 20px;
    font-size: 18px;
    color: var(--primary-text-color);
    padding-right: 0;
  }
  #phone {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #E1F2EC;
    background-color: transparent;
    /* padding: 14px 220px 14px 20px; */
    font-size: 18px;
    height: 70px;
    color: var(--primary-text-color);
  }
  .iti__flag-container {
    /* right: 0 !important;
    left: 85% !important; */
  }
  .iti__country {
    color: black;
  }
  .row__item > input {
    height: 70px;
  }

  @media (max-width: 1200px) {
    .careers {
        padding-inline: 70px;
    }
    .career-hero-content > p {
        font-size: 24px;
    }

  }

  @media (max-width: 800px) {
    .form__row {
        flex-direction: column;
        align-items: flex-start;
    }
    .row__item {
        width: 100%;
    }
    .career-hero-content > p {
        font-size: 20px;
    }
  }

  @media (max-width: 650px) {
    .careers {
        padding-block: 20px;
        padding-inline: 20px;
    }
    .career-hero-content {
        font-size: 40px;
    }
    .career-hero-content > p {
        font-size: 18px;
    }
}